[submodule "firmware/common/STM32CubeG0"]
	path = firmware/common/STM32CubeG0
	url = https://github.com/STMicroelectronics/STM32CubeG0.git
[submodule "firmware/common/STM32CubeF4"]
	path = firmware/common/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4.git
